{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#chapitres" data-toggle="tab">Chapitres</a></li>
            <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
            
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="chapitres">
        {% if chapters %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th class="text-center">Contenu</th>
                        <th class="text-center">Date de publication</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                {% for chapter in chapters %}
                <tr>
                    <td class="text-center chapter-title"><a class="articleTitle" href="{{ path('chapter', { 'id': chapter.id }) }}">{{ chapter.title }}</a></td>
                    <td class="text-center">{{ chapter.content | truncate(40) }}</td>
                    <td class="text-center"> Le  {{ chapter.dateAjout|date("d/m/y") }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin_chapter_edit', { 'id': chapter.id }) }}" class="btn btn-info btn-xs" title="Editer"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#chapterDialog{{ chapter.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="chapterDialog{{ chapter.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation obligatoire</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous vraiment supprimer ce chapitre?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_chapter_delete', { 'id': chapter.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucuns chapitres ne correspondent </div>
        {% endif %}
        <a href="{{ path('admin_chapter_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un chapitre</button></a>
    </div>
    <div class="tab-pane fade adminTable" id="comments">
        {% if comments %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Chapitre</th>
                        <th class="text-center">Auteur</th>
                        <th class="text-center">Contenu</th>
                        <th class="text-center">Action</th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for comment in comments %}
                <tr>
                    <td class="text-center"><a class="articleTitle" href="{{ path('chapter', { 'id': comment.chapter.id }) }}">{{ comment.chapter.title }}</a></td>
                    <td class="text-center">{{ comment.author}}</td>
                    <td class="text-center">{{ comment.content | truncate(60) }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" class="btn btn-info btn-xs" title="Editer"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Supprimer" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation obligatoire</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous vraiment supprimé ce commentaire ? 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Il n'y a aucun commentaire</div>
        {% endif %}
        
    </div>
</div>
{% endblock %}
