{% extends "layout.html.twig" %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block content %}


  <div class="row">
        <div class="jumbotron chapter">
            <h1 class="header">Billet simple pour l'Alaska</h1> 
            <h2 class="header">{{ chapter.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        <h2 class="title">{{ chapter.title }}</h2>
            <p class="snippet">{{ chapter.content|raw }}</p> 
        <div class="col-xs-12 chapterAnchor">
            <div class="col-xs-6">
            {% if prev != null %}
            <a href="{{path('chapter', {id: prev.id}) }}" class="chapterPrev"><i class="fa fa-arrow-left" aria-hidden="true"></i> <b> {{prev.title}}</b></a>
            {% endif %}
            </div>
            <div class="col-xs-6 text-right">
            {% if next != null %}
            <a href="{{path('chapter', {id: next.id}) }}" class="chapterNext"><b>{{next.title }} </b><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            {% endif %} 
            </div>
        </div>
        <h3 class="commentaires"><i class="fa fa-comments-o" aria-hidden="true"></i> Vos avis et commentaires <i class="fa fa-comments-o" aria-hidden="true"></i></h3>
            {% if commentForm %}
            {{ form_start(commentForm) }}
            <div class="form-comment">
                <div class="form-group">
                    {{ form_errors(commentForm.content) }}
                    {{ form_widget(commentForm.author, { 'attr':  {
                        'rows' : '1',
                        'class':'form-control',
                        'placeholder': 'Entrez votre pseudonyme',
                       
                        
                    }}) }}
                    {{ form_widget(commentForm.content, { 'attr':  {
                        'rows': '3',
                        'class': 'form-control',
                        'placeholder': 'Tapez votre commentaire ici',
                        
                    }}) }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Publier commentaire" id="btn-submit" />
                </div>
                {% for flashMessage in app.session.flashbag.get('success') %}
                 <div class="alert alert-success">
                {{ flashMessage }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        {{ form_end(commentForm) }}
        {% for comment in comments %}
            <div class="only-comments"><p> {{ comment.content }}</p><p class="comments-right">Par <strong>{{comment.author}}</strong> le {{ comment.dateAjout|date("d/m/y") }}</p>
            </div><br>
        {% else %}
            Aucun commentaire. 
        {% endfor %}
        </div>
        
        <div class="col-md-4 info-chapter sidebar">
            <h3>Les derniers chapitres publiés</h3>
             {% for chapter in chapters|slice(0,3) %}
             <a href="{{path('chapter', {id: chapter.id})}}">{{chapter.title}}</a><span class="chapterInfo">Posté le  {{ chapter.dateAjout|date("d/m/y") }}</span></br>
            {%endfor%}
        </div>
</div>
{% endblock %}